/* Main Page */
body {
  font-family: 'Roboto', sans-serif;
}

/* Applies to all pages */
.ui.menu .menu-style {
  font-size: 1.2rem;
}

.main-page {
  background-image: url('../../assets/santa-main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a23535;
}

.main-bg {
  width: 100%;
}

/* GRID */

.main-wrapper {
  display: grid;
  min-height: calc(100vh - 70px); /* Calculate height removing nav menu so we don't see scrollbars */
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4rem repeat(2, min-content) 1fr;
  grid-gap: 0.2rem;
}

.row-heading {
  grid-column: 1 / span 3;
  padding: 0.4rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.6rem;
  color: #FFFFFF;
}

.row-your-giftee-heading {
  grid-column: 1 / span 3;
  padding: 0.4rem;
  font-family: 'Cinzel', serif;
  font-size: 1.3rem;;
  font-weight: bold;
  color: #070846fc
}

/* Hi {memberName} your Secret Santa is */
.row-your-giftee-heading > span.displayMemberName {
  text-transform: capitalize;
}

.row-reveal-btn {
  grid-column: 1 / span 3;
  padding: 0.4rem;
  align-self: end;
}

/* Reveal Button Member Name */
.ui.button.displayMemberName {
  text-transform: capitalize;
}

.row-mywishlist-btn {
  padding-bottom: 1rem;
  align-self: end;
}

.row-gifteewishlist-btn {
  grid-column: 3;
  grid-row: 4;
  padding-bottom: 1rem;
  align-self: end;
}

/* END */

/* Menu */
.ui.inverted.menu .toUpperCase {
  text-transform: capitalize;
}

.main-page  .ui.menu .menu-style {
  color: #FFF;
}

.main-page .ui.secondary.menu .menu-style .dropdown.item:hover {
  color: #FFF;;
}

/* END Menu */

@media (min-width: 640px) {
  .row-heading {
    font-size: 2.5rem;;
  }

  .row-your-giftee-heading {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .row-heading {
    font-size: 2.8rem;;
  }

  .row-your-giftee-heading {
    font-size: 2.1rem;
  }
}

@media (min-width: 1024px){
  .row-heading {
    font-size: 3rem;;
  }

  .row-your-giftee-heading {
    font-size: 2.3rem;
  }
}


@media (min-width: 1200px){
  .row-heading {
    font-size: 3rem;;
  }

  .row-your-giftee-heading {
    font-size: 2.3rem;
  }
}