/*  Page */
body {
  font-family: 'Roboto', sans-serif;
  color: #0c416afc;
}

.background-wishlist {
  background-image: url('../../assets/snowman-mobile-transparent.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4e93d0;
}

.ui.button.pink {
  background: #b15082;
}

.ui.input {
  color: #0c416afc;
}

.wishlist-bg {
  width: 100%;
}

.wrapper-wishlist {
  display: grid;
  min-height: calc(100vh - 42px); /* Calculate height removing nav menu so we don't see scrollbars */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px repeat(15, min-content) 1fr;
  grid-gap: 10px;
  color: #FFF;
}

.box-wishlist {
  color: #0c416afc;
  border-radius: 5px;
  padding: 10px;
  font-size: 120%;
  text-align: center;
}

.readonlylist {
  /* background-color: rgba(50, 115, 220, 0.1); */
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
  padding-left: 5%;
  padding-top: 7%;
  text-align: center;
  font-size: 120%;
}

.box-button-wishlist {
  color: #0c416afc;
  border-radius: 5px;
  font-size: 150%;
  text-align: center;
}

.a-wishlist {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.b-wishlist {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.b-wishlist.wishlist-heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;;
  font-weight: bold;
  text-transform: capitalize;
  color: #b15082;
  padding-left: inherit;
}
.c-wishlist {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 16;
}
.d-wishlist {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 16;
  grid-row-end: 17;
}
.e-wishlist {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 17;
  grid-row-end: 18;
}
.f-wishlist {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 18;
  grid-row-end: 19;
}
.g-wishlist {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 19;
  grid-row-end: 20;
  align-self: end;
}
.h-wishlist {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 19;
  grid-row-end: 20;
  align-self: end;
}
.i-wishlist {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 19;
  grid-row-end: 20;
  align-self: end;
}
.ui.button.withMemberName {
  text-transform: capitalize;
}

.ui.form input[type="text"] {
  color: #0c416afc;
  font-family: 'Courgette', cursive;
}

@media (min-width: 640px) {
  .background-wishlist {
    background-image: url('../../assets/snowman-mobile-transparent.jpg');
  }

  .b-wishlist.wishlist-heading {
    font-size: 2.6rem;
  }

  .box-wishlist {
    padding-left: 33%;
    font-size: 140%;
  }
}

@media (min-width: 768px) {
  .background-wishlist {
    background-image: url('../../assets/snowman-wl-desktop.jpg');
  }

  .b-wishlist.wishlist-heading {
    font-size: 3rem;
  }

  .box-wishlist {
    padding-left: 33%;
    font-size: 150%;
  }
}

@media (min-width: 1024px){
  .background-wishlist {
    background-image: url('../../assets/snowman-wl-desktop.jpg');
  }

  .b-wishlist.wishlist-heading {
    font-size: 4rem;
  }

  .box-wishlist {
    padding-left: 33%;
    font-size: 170%;
  }
}

@media (min-width: 1200px){
  .background-wishlist {
    background-image: url('../../assets/snowman-wl-desktop.jpg');
  }

  .b-wishlist.wishlist-heading {
    font-size: 6rem;
  }

  .box-wishlist {
    padding-left: 33%;
    font-size: 200%;
  }

  .readonlylist {
    text-align: left;
    padding-left: 50%;
  }
}