/*  Page */
body {
  font-family: 'Roboto', sans-serif;
  color: #0c416afc;
}

.wishlist-page {
  background-image: url('../../assets/snowman-mobile-transparent.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4e93d0;
}

.wishlist-bg {
  width: 100%;
}

.ui.button.pink {
  background: #b15082;
}

.ui.input {
  color: #0c416afc;
}

/* NOTIFICATION */

.notification-wrapper {
  color: #FFF;
}

.notification-wrapper.hide {
  display: none;
}

.notification-wrapper.show {
  display: block;
}

.notification-wrapper div {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* END NOTIFICATION */


/* NEW GRID */

.form-fields-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(50%);
  grid-template-rows: 20% repeat(3, 5rem) auto;
  grid-gap: 0.5rem;
}

.readonlylist {
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
  font-size: 120%;
}

.ui.input>input[type="text"] {
  color: #0c416afc;
  font-family: 'Courgette', cursive;
}

.row-field {
  padding: 0.5rem;
}

.ui.input>input[type="text"] :focus {
  color: #0c416afc;
}

.row-field .ui.menu .menu-style {
  color: #0c416afc;
}

.row-field .ui.secondary.menu .dropdown.item:hover {
  color: #0c416afc;
}

.wishlist-heading-x {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #b15082;
  padding-left: inherit;
}

.button-group {
  padding-top: 2rem;
}

.wishlist-page .ui.form input[type="text"] {
  color: #0c416afc;
  font-family: 'Courgette', cursive;
  width: auto !important /* TODO: Specificity target selctor */
}

.wishlist-page .ui.form input[type="text"]:focus {
  color: #0c416afc;
}

.wishlist-page .ui.menu .menu-style {
  color: #0c416afc;
}

.wishlist-page .ui.secondary.menu .dropdown.item:hover {
  color: #0c416afc;
}

/* Gap between buttons */
.button-group .back-btn  {
  margin-left: 1rem;
}

/*  END */

@media (min-width: 640px) {
  .background-wishlist {
    background-image: url('../../assets/snowman-mobile-transparent.jpg');
  }

  .row-field.wishlist-heading-x {
    font-size: 2.6rem;
  }

  .row-field {
    padding: 1rem;
    font-size: 1.4rem;
  }

  .form-fields-wrapper {
    grid-gap: 3rem;
  }

  .button-group .back-btn  {
    margin-left: 2.4rem;
  }

  .ui.big.button {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .background-wishlist {
    background-image: url('../../assets/snowman-wl-desktop.jpg');
  }

  .row-field.wishlist-heading-x {
    font-size: 2.8rem;
  }

  .row-field {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .form-fields-wrapper {
    grid-gap: 2rem;
  }

  .button-group .back-btn  {
    margin-left: 2rem;
  }

  .ui.big.button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px){
  .background-wishlist {
    background-image: url('../../assets/snowman-wl-desktop.jpg');
  }

  .row-field.wishlist-heading-x {
    font-size: 3rem;
  }

  .row-field {
    padding: 2rem;
    font-size: 1.2rem;
  }

  .form-fields-wrapper {
    grid-gap: 2.5rem;
  }

  .ui.huge.button {
    font-size: 1rem;
  }

  .button-group .back-btn  {
    margin-left: 2rem;
  }
}

@media (min-width: 1200px){
  .background-wishlist {
    background-image: url('../../assets/snowman-wl-desktop.jpg');
  }

  .row-field.wishlist-heading-x {
    font-size: 3.5rem;
  }

  .row-field {
    padding: 2.6rem;
    font-size: 1.4rem;
  }

  .form-fields-wrapper {
    grid-gap: 4rem;
  }

  .ui.huge.button {
    font-size: 1.2rem;
  }

  .button-group .back-btn  {
    margin-left: 2.2rem;
  }
}