/*  Page */
body {
  font-family: 'Roboto', sans-serif;
  color: #0c416afc;
}

.background-admin {
  background-image: url('../../assets/admin-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4e93d0;
}

.admin-panel {
  width: 100%;
}

/* .background-admin.ui.inverted.menu .toUpperCase {
  text-transform: capitalize;
} */

/* TOP NAV - Styling for Admin Panel Only */

.background-admin .top-nav__right-menu .top-nav__dropdown,
.background-admin div.ui.active.item.dropdown.top-nav__dropdown {
  color: #FFF !important;
  font-weight: bold;
}

/* END TOP NAV - Styling for Admin Panel Only */

.ui.styled.accordion {
  width: 780px;
}

div.form-input {
  color: #0c416afc;
  padding-top: 10px;
  padding-bottom: 20px;
}

div.button-spacing {
  padding-top: 20px;
}

div.search-input-wrapper {
  text-align: center;
}

div.search-input {
  display: inline-block;
}

.ui.table, td.format-center {
  text-align: center;
}

.ui.header.admin-header {
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
  font-size: 1.5em;
}

.ui.accordion .title.accordion-panel {
  font-family: 'Cinzel', serif;
  color: #070846fc
}

.groups-admin {
  font-family: 'Cinzel', serif;
  color: #070846fc
}

.ui.header.group-name {
  font-family: 'Permanent Marker', cursive;
  color: #070846fc
}