/* Login */
body {
  font-family: 'Roboto', sans-serif;
}

.login-page::after {
  content: "";
  background-image: url('../../assets/login-bg.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #e8e1bf;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.login-bg {
  width: 100%;
}

.box-login {
  padding: 1.1em;
  border: solid 0.1em #1d631a;
  border-radius: 8px;
}

.home-logo {
  height: 2.6em;
}

.ui.header.login-header {
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
  margin-top: 0.5em;
  font-size: 1.3em;
  padding-top: 0.3em;
}

.flex-item-login.flex-item-login.flex-item-login {
  grid-template-columns: 1fr 3fr;
  height: 45vh;
  width: 65vw;
}

.login-btn.login-btn.login-btn {
  font-size: 1em;
}

.login-input {
  font-size: 0.9em;
}

.unknown-login-details {
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
}

.login-page .ui.menu {
  color: #0c416afc;
}

.enrol-message.enrol-message.enrol-message {
  color: #0c416afc;
  font-family: 'Permanent Marker', cursive;
}

.login-page .ui.secondary.menu .dropdown.item:hover {
  color: #0c416afc;
}