/* Login */
.box-login {
  padding: 1.1em;
  border: solid 0.1em #1d631a;
  border-radius: 8px;
}

.home-logo {
  height: 2.6em;
}

.login-header.login-header.login-header {
  color: #1d631a;
  font-family: 'Patrick Hand', cursive;
  margin-top: 0.5em;
  font-size: 1.3em;
  padding-top: 0.3em;
}

.flex-item-login.flex-item-login.flex-item-login {
  grid-template-columns: 1fr 3fr;
  height: 45vh;
  width: 65vw;
}

.login-btn.login-btn.login-btn {
  font-size: 1em;
}

.login-input {
  font-size: 0.9em;
}