/* Login */
body {
  font-family: 'Roboto', sans-serif;
}

.login-page {
  background-image: url('../../assets/login-bg.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4e93d0;
}

.login-bg {
  width: 100%;
}

.box-login {
  padding: 1.1em;
  border: solid 0.1em #1d631a;
  border-radius: 8px;
}

.home-logo {
  height: 2.6em;
}

.ui.header.login-header {
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
  margin-top: 0.5em;
  font-size: 1.3em;
  padding-top: 0.3em;
}

.flex-item-login.flex-item-login.flex-item-login {
  grid-template-columns: 1fr 3fr;
  height: 45vh;
  width: 65vw;
}

.login-btn.login-btn.login-btn {
  font-size: 1em;
}

.login-input {
  font-size: 0.9em;
}

.unknown-login-details {
  font-family: 'Permanent Marker', cursive;
  color: #0c416afc;
}

.login-page .ui.menu {
  color: #0c416afc;
}

.login-page .ui.secondary.menu .dropdown.item:hover {
  color: #0c416afc;
}