.App {
  text-align: center;
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height:100%; /* real browsers */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height: 100vh; /* real browsers */
}

.your-secret-santa {
  font-family: 'Patrick Hand', cursive !important;
  color: #53752d !important;
}

i.icon {
  margin-left: 3px !important;
}

.reveal-btn {
  margin-top: 0.2em !important;
  margin-right: 4.9em !important;
}

.main-page-image {
  background-image: url("./assets/main-bg-big.png");
  background-repeat: no-repeat;
}

.giftideas-page-image {
  background-image: url("./assets/giftideas-wishlist.png");
  background-repeat: no-repeat;
}

.gift-ideas {
  /* margin-top: 176px; */
  margin-bottom: 50px;
  background-image: url("./assets/giftideas-wishlist.png");
  height: 470px;
}

.ui.form {
  padding-top: 120px;
}

div.field.custom-align {
    margin: 20px 0 0 200px !important;
}

.wishlist-header {
  font-family: 'Patrick Hand', cursive !important;
  color: #53752d !important;
  font-size: 2.5em !important;
  margin-top: -20px !important;
}

.gift-submit-btn {
  margin-top: 20px !important;
}

.button-layout-grid {
  margin-top: 160px !important;
  margin-left: 5px !important;
}

.button-layout-giftideas {
  margin-top: 160px !important;
  margin-left: 15px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
